<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bottodir</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/Header-Blue.css">
    <link rel="stylesheet" href="/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Team-Clean.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="/">Bottodir</a><button data-bs-toggle="collapse"
                class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link acti" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/manage">Manage Commands</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                            data-bs-toggle="dropdown" href="#">Random facts about...</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="/facts/cats">Cats</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-center" style="margin: 10%;">
        <section class="team-clean">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Our Team</h2>
                    <p class="text-center">Managing your Bot's Slash Commands made easy.</p>
                </div>
                <div class="row people">
                    <div class="col-md-6 col-lg-4 offset-lg-1 item"><img class="rounded-circle"
                            src="/assets/img/linkoos.gif">
                        <h3 class="name">Koni</h3>
                        <p class="title">Project lead, Front/Backend</p>
                        <p class="description">What should I say? Hi.</p>
                        <div class="social"><a href="#"><i class="fab fa-discord"></i></a><a href="#"><i
                                    class="fa fa-facebook-official"></i></a><a href="#"><i
                                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                    <div class="col-md-6 col-lg-4 offset-lg-2 item"><img class="rounded-circle"
                            src="/assets/img/cute.jpg">
                        <h3 class="name">zManu</h3>
                        <p class="title">Manager</p>
                        <p class="description">Best Discord Manager, lol.</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>