<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bottodir</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/Header-Blue.css">
    <link rel="stylesheet" href="/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Team-Clean.css">
</head>

<body style="border-style: none;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="/">Bottodir</a><button data-bs-toggle="collapse"
                class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/manage">Manage Commands</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                            data-bs-toggle="dropdown" href="#">Random facts about...</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="/facts/cats">Cats</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-center" style="margin: 10%;">
        <h1 class="text-center">Manage Slash Commands.</h1><a class="btn btn-secondary"
            href="/manage" style="margin: 3%;">Manage Commands</a>
        <p>Discord recently implemented Slash Commands, a way for users to interact with your bot. Everything about them
            is great, with one small problem: creating the slash commands. As of right now, you can't easily do this,
            you either use a http request tool which involves writing JSON code or use your library's function (if they
            do have such functions). In all cases, you gotta write code. That's why we created this website. Using your
            bot token (which we DO NOT save, we only use cookies for that. Plus, our code is open source) and some
            clicks, you can easily create, edit and
            delete slash commands using a responsive and simple user interface. btw don't be surprised if some things
            don't work, this website is still WiP.</p>
        <a class="link" href="https://github.com/GirlsFromPanema">Github</a>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>